* text=auto eol=lf
*.js linguist-detectable=true
*.js linguist-language=Node.js
*.json linguist-detectable=true
routes/* linguist-language=Node.js
server.js linguist-language=Node.js
*.md linguist-documentation=true
package-lock.json linguist-generated=true
db/* linguist-generated=true