# Definição geral
* text=auto

# Destacar API/OpenAPI
swagger.json linguist-detectable=true
swagger.json linguist-language=OpenAPI Specification
*.js linguist-language=JavaScript

# Ignorar na estatística de linguagens
*.json !swagger.json linguist-documentation
db/* linguist-documentation
*.md linguist-documentation

# Arquivos gerados
package-lock.json linguist-generated