* linguist-vendored
*.js linguist-vendored=false
*.js linguist-generated=false
*.js linguist-detectable=true
*.js linguist-language=Node
*.json linguist-detectable=false
routes/* linguist-vendored=false
server.js linguist-vendored=false
db/* linguist-documentation
*.md linguist-documentation